body {
    background-color: white;
    /*background: url(웹배경.png);*/ 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: black;
    height: 100vh;
    margin: 0%;
    
}

.container {
    display: block; margin:0% auto;
}

#diary-entries {


    margin-left: 4%; margin-right: 4%; 
    width: 100% center;   
    
}

h1, h2, h3, h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}



form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: gray;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

#entries-list {
    list-style-type: none;
    padding: 0;
}

#entries-list li {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.view-btn, .delete-btn {
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-btn {
    background-color: gray;
    color: black;
}

.view-btn:hover {
    background-color: gray;
}

.delete-btn {
    background-color: gray;
    color: black;
}

.delete-btn:hover {
    background-color: gray;
}

